[credential]
	helper = store
[user]
	email = onero@users.noreply.github.com
	name = Adam Hansen
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[pull]
	ff = only
